*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html , body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}

.sec1{
    display: flex;
    height: 40%;
    width: 100vw;
    flex-direction: column;
    background:radial-gradient(at bottom left, black 0%, darkblue
     50%, rgb(70, 169, 202) 90%, white 100%);
    position: relative;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: clamp(5px, 45%, 50px);
    color: white;
    gap: 1%;
}
.navParts{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.navSub{
   display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center; 
}
.brand{
    font-size: clamp(5px, 200%, 50px);
}
.links{
    width: 70%;
    font-size: clamp(5px, 90%, 50px);
}
#get{
    width: 30%;
}
.firstsection{
    flex-shrink: 0;
    height: 75%;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.div1{
    height: 8%;
    width: 100%;
    align-items: center;
    text-align: start;
    display: flex;
    font-size: clamp(5px, 10px, 50px);
}

.div2{
    height: 35%;
    width: 100%;
    align-items: center;
    text-align: start;
    display: flex;
    font-size: clamp(5px, 20px, 50px);
}
.div3{
    height: 12%;
    width: 100%;
    align-items: center;
    text-align: start;
    display: flex;
    justify-content: space-between;
    font-size: clamp(5px, 10px, 50px);
}
#div3sub{
    background-color:#DCF341;
    height: 90%;
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: black;
    display: flex;
    font-size: clamp(5px, 10px, 50px);
    border-radius: 20px;
    
}
.div3 div{
    height: 90%;
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: start;
    display: flex;
    font-size: clamp(5px, 8px, 50px);
}
.div4{
    height: 45%;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: clamp(5px, 70px, 90px);
}

@media (min-width:770px){
.sec1{
    height: 100vh;
}  
nav{
    height: 10%;
    font-size: clamp(15px, 50%, 25px);
}
.brand{
    font-size: clamp(5px, 200%, 50px);
}
.links{
    width: 70%;
    font-size: clamp(5px, 100%, 50px);
}
.div1{
    font-size: clamp(10px, 120%, 100px);
}

.div2{
    font-size: clamp(10px, 300%, 100px);
}
.div3{
    font-size: clamp(1px, 100%, 100px);
}
#div3sub{
    height: 70%;
    width: 20%;
    font-size: clamp(1px, 90%, 150px);
}
.div3 div{
    font-size: clamp(5px, 60%, 50px);
}
.div4{
    font-size: clamp(5px, 1100%, 200px);
}
}
.sec2{
    display: flex;
    height: 40%;
    width: 100vw;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec2sub{
    display: flex;
    height: 60%;
    width: 90%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}
.firstsub{
  height: 40%;
  font-size: clamp(20px,100%,23px);
}
.firstsub span{
    color: #7E7E7E;
}
.secondsub{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.boxes{
    border: 1px solid rgb(181, 171, 171);
    background-color: rgb(245, 241, 241);
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}
.boxone{
    background:radial-gradient(at bottom left, black 0%, darkblue
     50%, rgb(70, 169, 202) 90%, white 100%);
    justify-content: flex-end;
    color: white;
}
.text1{
   height: 10%;
   width: 90%;
   display: flex;
   align-items: center;
   font-size: clamp(5px,50%,6px);
}
.text2{
  height: 40%;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: clamp(8px,100%,8px);
}
.boxtwo{
    background-image: url(https://plus.unsplash.com/premium_photo-1753080951637-ffbdee3c44c9?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-start;
}
.est{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    color: white;
    width: fit-content;
    padding: 0 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid rgb(116, 111, 111);
    font-size: clamp(5px,50%,6px);
}
.sometext1{
    height: 80%;
    width: 90%;
    border-bottom: 1px solid rgb(192, 190, 190);
    color: #7E7E7E;
    font-size:clamp(5px,100%,8px) ;
}
.some2{
     background:radial-gradient(at bottom left, black 0%, darkblue
     50%, rgb(70, 169, 202) 90%, white 100%);
     background-clip: text;
     color: transparent;
     font-size:clamp(35px,100%,40px);
}
.sometext2{
    height: 20%;
    width: 90%;
    font-size:clamp(5px,100%,8px);
}

@media (min-width:770px){
    .sec2{
    height: 100vh;
 }

.firstsub{
  font-size: clamp(60px,100%,70px);
}

.boxes{
    height: 70%;
}
.text1{
   font-size: clamp(15px,100%,15px);
}
.text2{
  font-size: clamp(20px,100%,30px);
}
.est{
    padding: 5%;
    font-size: clamp(10px,50%,15px);
}
.sometext1{
    font-size: clamp(10px,100%,15px)
}
.some2{
     font-size:clamp(90px,100%,100px);
}
.sometext2{
    align-items: center;
   font-size: clamp(20px,100%,30px);
}
}

.sec3{
    display: flex;
    height: 40%;
    width: 100vw;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.about1{
    border-top: 1px solid rgb(189, 181, 181);
    display: flex;
    height: 20%;
    width: 90%;
    align-items: center;
    padding-top: 2%;
}
.about2{
    display: flex;
    height: 50%;
    width: 90%;
    align-items: center;
    justify-content: center;
    background:radial-gradient(at bottom left, black 0%, darkblue
     50%, rgb(70, 169, 202) 90%, white 100%);;
    font-size: 380%;
    background-clip: text;
    color: transparent;
}
.about3{
    display: flex;
    height: 30%;
    width: 90%;
    align-items: center;
}
.abouttext1{
    align-items: center;
    display: flex;
    height: 100%;
    width: 45%;
    font-size: 10px;
    
}
.abouttext2{
    align-items: center;
    display: flex;
    height: 100%;
    width: 40%;
    font-size: 8px;
}
.abouttext3{
    align-items: center;
    display: flex;
    height: 100%;
    width: 15%;
    font-size: 7px;
}
.abouttext4{
    align-items: center;
    display: flex;
    height: 100%;
    width: 40%;
    font-size: 10px;
}
.abouttext5{
    align-items: center;
    display: flex;
    height: 100%;
    width: 60%;
    font-size: 110%;
}
.abouttext5 span{
    color: #B0B0B0;
}

@media (min-width:770px) {
    
.sec3{
    height: 100%;
}
.about1{
    padding-top: 0;
}
.about2{
    font-size: 1000%;
}
.abouttext1{
    font-size: 20px;
}
.abouttext2{
    font-size: 20px;
    padding-top: 2%;
}
.abouttext3{
    font-size: 15px;
}
.abouttext4{
    font-size: 20px;
}
.abouttext5{
    font-size: 300%;
}
}